// https://github.com/hunzaboy/bulma-megamenu
.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: 0.375rem 1rem;
  }

  .container.is-fluid {
    @include touch {
      padding: 0;
    }
  }
}
