.bulma-article-top {
  padding-top: var(--gap-content-navbar);

  @include touch {
    padding-top: var(--gap-content-navbar--mobile);
  }

  display: flex;
  align-items: center;

  .article-top-left {
    margin-right: auto;
  }

  .article-top-right {
    margin-left: auto;
  }
}
