.back-to-top {
  text-decoration: none;
  top: calc(var(--navbar-height) + var(--gap-content-navbar));

  display: none;
  position: fixed;
  left: 0;
  // top: 1rem;
  padding: 0.5rem;
  padding-right: 0.75rem;
  border-radius: 1.2rem;
  font-size: 1rem;

  background: var(--bst-color-background);
  box-shadow:
    0 0.2rem 0.5rem rgba(0, 0, 0, 0.05),
    #6b728080 0px 0px 1px 0px;

  z-index: 10;

  margin-left: 50%;
  transform: translateX(-50%);

  svg {
    height: 1rem;
    width: 1rem;
    fill: currentColor;
    display: inline-block;
  }

  span {
    margin-left: 0.25rem;
  }

  .show-back-to-top & {
    display: flex;
    align-items: center;
  }
}

a.back-to-top {
  color: var(--bst-color-text-base);

  &:hover {
    text-decoration: none;
    background: var(--bst-color-primary);
    color: white;
  }
}
