nav.breadcrumb {
  white-space: inherit;

  ul {
    padding-left: 0;
    align-items: center;
  }

  span.breadcrumb-last-item {
    padding: 0 0.75em;
  }

  .icon {
    width: 1.3rem;
    height: 1.3rem;

    &:first-child {
      margin-right: unset;
    }

    &:last-child {
      margin-left: unset;
    }
  }
}
