.info-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--top-content-to-navbar-gap) 1rem 1rem 1rem;
  background: var(--bst-color-background-info-panel);

  .level:not(:last-child) {
    margin-bottom: 0;
  }

  button.search-button {
    border-radius: 1.2rem;
    font-size: 0.92rem;
    background: var(--bst-color-background);
    color: var(--bst-color-text-base);
  }
}
