.info-panel {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: var(--top-content-to-navbar-gap) 1rem 1rem 1rem;
  background: var(--bst-color-background-info-panel);

  .level:not(:last-child),
  .level-item:not(:last-child) {
    margin-bottom: 0;
  }

  .level-item {
    display: inline-flex;
  }

  img.bulma-icon-image {
    max-height: 1.5rem;
  }
}
