.prev-next {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.pre-next__link--next {
  grid-column: 2/3;
  text-align: right;

  .pre-next__link__label::after {
    content: " »";
  }
}

.pre-next__link {
  border: 1px solid var(--color-background-border);
  border-radius: 0.5rem;
  display: block;
  height: 100%;
  line-height: 1.25;
  padding: 1rem;
  transition: border-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1);

  &:hover {
    border-color: var(--color-brand-primary);
    text-decoration: none;
  }
}

.pre-next__link--prev {
  .pre-next__link__label:before {
    content: "« ";
  }
}

.pre-next__link__sublabel {
  color: var(--color-foreground-secondary);
  font-weight: 600;
}

.pre-next__link__label {
  word-break: break-word;
}
