nav.menu,
.toc-wrapper {
  scrollbar-width: thin;
  scrollbar-color: var(--font-color-medium) transparent;

  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--font-color-medium);
    border-radius: 0.125rem;
  }
}
