button.search-button {
  border-radius: 1.2rem;
  font-size: 0.92rem;
  background: var(--bst-color-background);
  color: var(--bst-color-text-base);
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  .search-button-left,
  .search-button-right {
    display: flex;
  }

  .icon:first-child:not(:last-child) {
    margin-left: unset;
  }
}
