.search-wrapper
  flex-grow: 1
  display: flex
  align-items: center
  position: relative

  .search-button__kbd-shortcut
    display: flex
    position: absolute
    right: 5px

  svg
    position: absolute
    z-index: 1
    margin-left: 10px

  input
    background-color: var(--bst-color-background)
    color: var(--bst-color-text-base)
    padding-left: 35px
