button.search-button {
  border-radius: 1.2rem;
  font-size: 0.92rem;
  background: var(--bst-color-background);
  color: var(--bst-color-text-base);

  // .icon:first-child:not(:last-child) {
  //   margin-left: unset;
  // }
}
