.search-wrapper
  flex-grow: 1
  display: flex
  align-items: center
  position: relative
  color: var(--font-color-medium)

  .search-button__kbd-shortcut
    display: flex
    position: absolute
    right: 5px
