.sidenav-panel {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: var(--gap-content-navbar) var(--sidebar-item-spacing-horizontal) 1rem;
  background: var(--bst-color-background-sidenav-panel);

  .navbar-item {
    display: flex;
    align-items: center;
  }

  .level:not(:last-child),
  .level-item:not(:last-child) {
    margin-bottom: 0;
  }

  .level-item {
    display: inline-flex;
  }

  .level-left {
    @include mobile {
      display: flex;
      gap: 0.5rem;
    }
  }

  img.bulma-icon-image {
    max-height: 1.5rem;
  }
}
