.sidenav-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--top-content-to-navbar-gap) 1rem 1rem 1rem;
  background: var(--color-background-panel);

  .level:not(:last-child) {
    margin-bottom: 0;
  }

  button.search-button {
    border-radius: 1.2rem;
    font-size: 0.92rem;
  }
}
