// the icons for theme change
.theme-switch-button {
  // overide bootstrap settings
  padding: 0; // We pad the `span` not the container
  color: var(--bst-color-text-muted);
  width: fit-content;
  aspect-ratio: 1 / 1;
  background: none;
  border: none;

  span {
    display: none;
    height: 100%;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: var(--bst-color-primary);
    }
  }
}

html[data-mode="auto"] .theme-switch-button span[data-mode="auto"] {
  display: flex;
}

html[data-mode="light"] .theme-switch-button span[data-mode="light"] {
  display: flex;
}

html[data-mode="dark"] .theme-switch-button span[data-mode="dark"] {
  display: flex;
}
