html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.centered {
  text-align: center;
}

h1 {
  font-size: 4.2rem;
  margin: 2.8rem 0 1.68rem;
}

h2 {
  font-size: 3.56rem;
  margin: 2.3733333333rem 0 1.424rem;
}

h3 {
  font-size: 2.92rem;
  margin: 1.9466666667rem 0 1.168rem;
}

h4 {
  font-size: 2.28rem;
  margin: 1.52rem 0 0.912rem;
}

h5 {
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem;
}

h6 {
  font-size: 1.15rem;
  margin: 0.7666666667rem 0 0.46rem;
}

p {
  margin: 0.7666666667rem 0 0.46rem;
}
