.bulma-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - var(--sidenav-width));

  .navbar-burger {
    margin-left: unset;
    color: var(--bst-color-text-base);
    z-index: 3;
  }

  article.article-container {
    padding: 0 1rem 1rem;
    overflow-wrap: break-word;
    text-align: justify;

    @include touch {
      padding-left: 0;
      padding-right: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: left;
    }
  }
}
