.bulma-tocnav {
  width: var(--tocnav-width);
  padding: 2rem 1rem 1rem;

  .toc-wrapper {
    position: sticky;
    top: calc($navbar-height + 2rem);
    overflow: hidden;
  }

  ul.table-of-contents {
    font-size: var(--toc-font-size);

    li {
      border-left: 1px solid var(--color-background-border);

      a {
        display: inline-block;
        color: var(--color-toc-title-text);
        padding-left: 16px;
        height: 1.6rem;
        line-height: 1.5rem;
      }

      &.scroll-current > .reference {
        border-left: 1px solid $link;
        color: $link;
        font-weight: bold;
      }
    }
  }
}

.toc-scroll {
  .nav {
    display: none;

    &.visible {
      display: block;
    }

    > .active > ul {
      display: block;
    }
  }
}

.toc-title {
  padding-left: 16px;
  font-size: var(--toc-title-font-size);
}
