.bulma-content {
  width: calc(100% - var(--sidenav-width) - var(--tocnav-width));
  padding: 0 var(--docs-outer) var(--docs-outer) var(--docs-outer);

  article {
    overflow-wrap: break-word;
  }
}
