html[data-theme="dark"]
  $navbar-dropdown-background-dark-color: $black !default
  $navbar-dropdown-item-hover-background-dark-color: #363232
  $navbar-dropdown-item-hover-dark-color: $white !default
  $navbar-dropdown-item-active-background-dark-color: #363232
  $navbar-dropdown-item-active-dark-color: $link !default
  $navbar-item-hover-background-dark-color: #363232
  $navbar-dark-colors: mergeColorMaps(("white": ($dark, $white), "black": ($dark, $white), "light": ($dark, $white), "dark": ($dark, $white), "primary": ($primary-dark, $primary-light), "link": ($link-dark, $link-light), "info": ($info-dark, $info-light), "success": ($success-dark, $success-light), "warning": ($warning-dark, $warning-light), "danger": ($danger-dark, $danger-light)), $custom-colors) !default

  .navbar
    @each $name, $pair in $navbar-dark-colors
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-#{$name}
        background-color: $color
        color: $color-invert
        .navbar-brand
          & > .navbar-item,
          .navbar-link
            color: $color-invert
          & > a.navbar-item,
          .navbar-link
            &:focus,
            &:hover,
            &.is-active
              background-color: bulmaDarken($color, 5%)
              color: $color-invert
          .navbar-link
            &::after
              border-color: $color-invert
        .navbar-burger
          color: $color-invert
        +from($navbar-breakpoint)
          .navbar-start,
          .navbar-end
            & > .navbar-item,
            .navbar-link
              color: $color-invert
            & > a.navbar-item,
            .navbar-link
              &:focus,
              &:hover,
              &.is-active
                background-color: bulmaDarken($color, 5%)
                color: $color-invert
            .navbar-link
              &::after
                border-color: $color-invert
          .navbar-item.has-dropdown:focus .navbar-link,
          .navbar-item.has-dropdown:hover .navbar-link,
          .navbar-item.has-dropdown.is-active .navbar-link
            background-color: bulmaDarken($color, 5%)
            color: $color-invert
          .navbar-dropdown
            a.navbar-item
              &.is-active
                background-color: bulmaDarken($color, 5%)
                color: $color-invert

  +from($navbar-breakpoint)
    .navbar-dropdown
      background-color: $navbar-dropdown-background-dark-color
      a.navbar-item
        color: $white
        &:focus,
        &:hover
          background-color: $navbar-dropdown-item-hover-background-dark-color
          color: $navbar-dropdown-item-hover-dark-color
        &.is-active
          background-color: $navbar-dropdown-item-active-background-dark-color
          color: $navbar-dropdown-item-active-dark-color
    .navbar-item.has-dropdown
      color: $white
      &:focus,
      &:hover,
      &.is-active
        .navbar-link
          background-color: $navbar-item-hover-background-dark-color
